<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Letter_y.svg/1200px-Letter_y.svg.png" type="image/x-icon" />
  <title>YelCamp</title>
</head>
<body>
  <!--Nav Bar -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark " style="background-color:#00004d;" ->
    <div class="container">
    <a class="navbar-brand" href="/"><i class="fab fa-yandex-international"></i><strong>elcamp</strong></a>
    <!--Button-->
    <button style="color:white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--Home,About-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a  class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <!--SignIn LogIn-->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <br>
