<% include partials/header %>
<div class="container">
  <div class="text-center">
    <h1 style="color:red;">Yelcamp</h1>
    <p>
      YelCamp is a camping page where we provide you with all the basic camping grounds. You can choose one of those and visit.
    </p>
  </div>

</div>


<% include partials/footer %>
