<% include ./partials/header %>
<div class="container">
  <div class="text-center">
    <h1 style="color:red;text-shadow:0px 0px 1px #660000">Welcome to the landing page!</h1>
    <a href="/campground" class="btn btn-primary shadow-sm">Visit the campground</a>
  </div>

</div>


<% include ./partials/footer %>
