<% include partials/header %>
<div class="container" style="width:50%;">
  <h1 class="display-4"><%=campground.name%></h1>
  <img src="<%=campground.img%>" alt="<%=campground.name%>" style="width:auto;">
  <br><br>
  <p class="font-italic"><%=campground.description%></p>
</div>


<% include partials/footer %>
